<div class="container-fluid">
  <div class="row">
    <div id="login-card" class="col-md-6 offset-md-3 align-self-center content">
      <mat-card>
        <form class="login-form" (ngSubmit)="onLogin(form.value)" #form="ngForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" required name="email" ngModel>
            <mat-hint>Ex: john.smith@gmail.com</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" required name="password" ngModel>
            <mat-hint>Password must be at least 8 characters long.</mat-hint>
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button" type="submit">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
