<mat-toolbar color="primary">
  <span>Bar Hopping PR</span>
  <!-- This fills the remaining space of the current row -->
  <div class="button-row">
    <a mat-button routerLink="/dashboard/catalogue">Catalogue</a>
    <a mat-button routerLink="/dashboard/trips">Trips</a>
    <a mat-button routerLink="/dashboard/account">Acount</a>

    <a mat-button routerLink="/employee">Employee</a>
  </div>
</mat-toolbar>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fun beggins now!</h1>
      <p class="lead">Go on bar hopping trips with your friends and family with out worry of transportation</p>
      <a mat-raised-button routerLink="/create-account">Create Account</a>
      <a mat-raised-button color="primary" routerLink="/login">Login</a>
    </div>
  </div>
