


 <mat-toolbar color="primary">
        

        <span>Bar Hopping PR</span>
      
        <!-- This fills the remaining space of the current row -->
        <div class="button-row">
                <a mat-button routerLink= "/home">Home</a>
                <a mat-button routerLink= "/login">Login</a>
                <a mat-button routerLink= "/catalogue">Catalogue</a>
                <a mat-button routerLink= "/trips">Trips</a>
                <a mat-button routerLink= "/account">Account</a>
               
              </div>
      
       
</mat-toolbar>

<router-outlet></router-outlet>

