


 <mat-toolbar color="primary">
        

        <span>Bar Hopping PR</span>
      
        <!-- This fills the remaining space of the current row -->
        <div class="button-row">
                <a mat-button href="/home">Home</a>
                <a mat-button href="/login">Login</a>
                <a mat-button href="/catalogue">Catalogue</a>
                <a mat-button href="/trips">Trips</a>
                <a mat-button href="/account">Account</a>
               
              </div>
      
       
</mat-toolbar>

<router-outlet></router-outlet>

