<mat-card class="container">
    <mat-card-title>Add New Partner</mat-card-title>
    <mat-horizontal-stepper>
      <mat-step label="Search Location" optional="true">
        <app-locationpicker (onFoundLocation)="recieveLocation($event)" [location]="partner.location.address"></app-locationpicker>
        <div class="action-menu">
          <button mat-raised-button (click)="cancel()">Cancel</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Verify Your Data" optional="false">
        <form #partnerForm="ngForm" (ngSubmit)="submit()">
          <mat-card-content>General Information:</mat-card-content>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Name" required name="name" type="text" [(ngModel)]="partner.name">
            <mat-hint>Ex: Harana</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Announcement" required name="announcement" type="text" [(ngModel)]="partner.announcement">
            <mat-hint>Ex: Happy hours, thursdays and fridays at 7pm! </mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Description" required name="description" type="text" [(ngModel)]="partner.description">
            <mat-hint>Ex: A great place to hangout with friends after a long day of work.</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Manager's Name" required name="manager" type="text" [(ngModel)]="partner.manager">
            <mat-hint>Ex: Carlos Estrada </mat-hint>
          </mat-form-field>
          <br>
          <br>
          <mat-card-content>Place Information:</mat-card-content>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Website" required name="website" type="url" [(ngModel)]="partner.website">
            <mat-hint>ex: https://facebook.com</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-12 full-width field">
              <input matInput placeholder="Phone" required name="phone" type="text" [(ngModel)]="partner.phone">
              <mat-hint>ex: 798-987-2823</mat-hint>
            </mat-form-field>
          <mat-form-field>
            <mat-select [(value)]="partner.type" placeholder="Partner Type" class="col-md-12 full-width field" required>
              <mat-option>None</mat-option>
              <mat-option value="Bar">Bar</mat-option>
              <mat-option value="Restaurant">Restaurant</mat-option>
              <mat-option value="Night Club">Night Club</mat-option>
              <mat-option value="Bar & Restaurant">Bar & Restaurant</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <br>
          <mat-card-content>Location:</mat-card-content>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="Addres" required name="address" type="text" [(ngModel)]="partner.location.address">
            <mat-hint>ex: PR-108, Mayaguez, PR, 00682</mat-hint>
          </mat-form-field>
          <mat-form-field class="col-md-12 full-width field">
            <input matInput placeholder="City" required name="city" type="text" [(ngModel)]="partner.location.city">
            <mat-hint>ex: Mayaguez</mat-hint>
          </mat-form-field>
          <br>
          <br>
          <div class="action-menu">
            <button mat-raised-button matStepperPrevious>back</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!partnerForm.form.valid">Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
  
