<div *ngIf="partnerFormHidden">
  <button mat-raised-button color="primary"  style="margin:15px" (click)="onAddNewPartner()">Add Partner</button>
  <mat-card *ngFor="let partner of partnerList" class="card">
      <mat-card-title>{{partner.name}}</mat-card-title>
      <mat-card-subtitle>{{partner.phone}}</mat-card-subtitle>
      <mat-card-actions>
          <button mat-button color="primary" (click)="onUpdatePartner(partner)">Edit</button>
          <button mat-button color="warn" (click)="onRemovePartner(parter)">Remove</button>
        </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!partnerFormHidden" class="container-fluid">
  <app-add-partner-form [partner]="selectedPartner" (onCancel)="monitorCancel($event)"></app-add-partner-form>
</div>
